################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/UnityStudy/findRtan-4week/.vs
/UnityStudy/findRtan-4week/findRtan_BurstDebugInformation_DoNotShip
/UnityStudy/findRtan-4week/Library
/UnityStudy/findRtan-4week/Logs
/UnityStudy/findRtan-4week/obj
/UnityStudy/findRtan-4week/UserSettings
/UnityStudy/findRtan-5week/.vs
/UnityStudy/findRtan-5week/findRtan_BurstDebugInformation_DoNotShip
/UnityStudy/findRtan-5week/Library
/UnityStudy/findRtan-5week/Logs
/UnityStudy/findRtan-5week/obj
/UnityStudy/findRtan-5week/UserSettings
/UnityStudy/dogvscat/.vs
/UnityStudy/dogvscat/Library
/UnityStudy/dogvscat/Logs
/UnityStudy/dogvscat/obj
/UnityStudy/dogvscat/UserSettings
/UnityStudy/myShield/.vs
/UnityStudy/myShield/Library
/UnityStudy/myShield/Logs
/UnityStudy/myShield/obj
/UnityStudy/myShield/UserSettings
/UnityStudy/rainRtan/.vs
/UnityStudy/rainRtan/Library
/UnityStudy/rainRtan/Logs
/UnityStudy/rainRtan/obj
/UnityStudy/rainRtan/UserSettings
/UnityStudy/Survival_Game/.vs
/UnityStudy/Survival_Game/Library
/UnityStudy/Survival_Game/Logs
/UnityStudy/Survival_Game/obj
/UnityStudy/Survival_Game/UserSettings
/UnityStudy/findRtan-4week.zip
/UnityStudy/Assets.zip
/UnityStudy/UnityZEP/Library
/UnityStudy/UnityZEP/.vs
/UnityStudy/UnityZEP/Logs
/UnityStudy/UnityZEP/obj
/UnityStudy/UnityZEP/UserSettings
/UnityStudy/3DSurvival_Project/Library
/UnityStudy/3DSurvival_Project/.vs
/UnityStudy/3DSurvival_Project/Logs
/UnityStudy/3DSurvival_Project/obj
/UnityStudy/3DSurvival_Project/UserSettings
/UnityStudy/SpartaDungeon/Library
/UnityStudy/SpartaDungeon/.vs
/UnityStudy/SpartaDungeon/Logs
/UnityStudy/SpartaDungeon/obj
/UnityStudy/SpartaDungeon/UserSettings
/UnityStudy/SpartaDungeon/Temp