################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/UnityStudy
C\#/TextRPG/.vs/TextRPG/FileContentIndex/21229ad9-a680-42ab-8907-9d14569ea111.vsidx
C\#/TextRPG/.vs/TextRPG/FileContentIndex/708ee4f7-523d-4640-a57c-5e5f571d0446.vsidx
C\#/TextRPG/.vs/TextRPG/v17/.suo
C\#/TextRPG - 백업/.vs/ProjectEvaluation/textrpg.metadata.v7.bin
C\#/TextRPG - 백업/.vs/ProjectEvaluation/textrpg.projects.v7.bin
C\#/TextRPG - 백업/.vs/TextRPG/DesignTimeBuild/.dtbcache.v2
C\#/TextRPG - 백업/.vs/TextRPG/FileContentIndex/2e3f7caf-d776-417c-92ba-5a660062be31.vsidx
C\#/TextRPG - 백업/.vs/TextRPG/FileContentIndex/5488cb6b-4148-47f2-a641-20f2ab71c844.vsidx
C\#/TextRPG - 백업/.vs/TextRPG/v17/.futdcache.v2
C\#/TextRPG - 백업/.vs/TextRPG/v17/.suo
